@media screen and (max-width:720px) {
    header {
        nav {
            ul {
                li {
                    display: inline;

                    &:not(:first-child) {

                        display: none;
                    }

                }

            }
        }
    }
}

@media screen and (min-width: 721px) {
    nav {

        .fa-bars {
            display: none;
        }
    }
}