@media screen and (max-width:720px) {
    header {
        align-items: flex-start;
        nav {
            ul {
                flex-direction: column;
                align-items: flex-end;
                min-width: 50vw;
                li {
                    line-height: 40px;
                    
                    // &:not(:first-child) {
                    //     display: none;
                    // }
                }
            }
            i {
                &:hover {
                    cursor: pointer;
                }
            }
            .active {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 721px) {
    nav {
        .fa-bars {
            display: none;
        }
        .fa-times {
            display: none;
        }
    }
}
