* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    background-color:floralwhite;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid firebrick;
    box-shadow: 1px 1px 10px black;
}
.menu {
    display: flex;
}
.menu i {
    font-size: 28px;
    color: firebrick;
}

.menu ul {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    margin: 0 15px;
    color: firebrick;
    font-weight: 900;
}


@media screen and (max-width:720px) {
    .menu ul {
        display: none;
    }
}

@media screen and (min-width: 721px) {
    .menu i {
        display: none;
    }
    
}