*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noTextDecoration {
    text-decoration: none;
    color: rgb(20, 90, 80);
}

@import "_header.scss";
@import "_home.scss";
@import "_login.scss";
@import "_mediaqueries.scss";